.header{
    background-image: url(https://imgur.com/6nVctMC.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}